@import "tailwindcss";

@theme inline {
  --color-surface: #0b1326;
  --color-surface-container-lowest: #060e20;
  --color-surface-container-low: #131b2e;
  --color-surface-container: #1a2337;
  --color-surface-container-high: #222a3d;
  --color-surface-container-highest: #2a3347;
  --color-surface-variant: #2d3449;
  
  --color-primary: #b5fff0;
  --color-primary-container: #5eead4;
  --color-on-primary: #0b1326;
  
  --color-on-surface: #dae2fd;
  --color-on-surface-variant: #a8b3d1;
  --color-on-tertiary-container: #565c63;
  
  --color-outline-variant: #3c4946;
  
  --font-sans: var(--font-inter);
  
  --spacing-0_5: 0.175rem;
  --spacing-1: 0.35rem;
  --spacing-1_5: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.25rem;
  --spacing-5: 1.5rem;
  --spacing-6: 1.75rem;
  --spacing-8: 2.75rem;
  --spacing-12: 4rem;
  --spacing-16: 5.5rem;
  --spacing-20: 7rem;
  
  --radius-sm: 0.125rem;
}

body {
  background: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-sans), system-ui, sans-serif;
}
